@use "../../build/scss/functions";
@use "../../node_modules/bootstrap/scss/functions" as bsFunctions;

// bs variables
$font-family-sans-serif: "PT Sans", sans-serif;
$font-family-base:       $font-family-sans-serif;

$grid-breakpoints: (
    xs: 0,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1240px
);

// custom variables
$black:  #000000;
$gray-1: #f4f4f4;
$gray-2: #c9c9c9;
$gray-3: #999;
$gray-4: #777;
$gray-5: #4d4d4d;
$white:  #ffffff;

$blue:         #20374b;
$blue-default: $blue;
$blue-hover:   bsFunctions.tint-color($blue, 20%);
$yellow:       #da9a31;
$red:          #dc3545; // only for validation
$green:        #86c643; // only for good-icon in comparison

/* more theme */
$primary:   $blue;
$secondary: $yellow;
$danger:    $red;

$result-container: (
    color:    $gray-5,
    bg:       $white,
    hr-color: $gray-2
);

$result-headline: (
    font-size:   functions.to-rem(14px),
    font-weight: 600
);

$capacity-container: (
    font-size:          functions.to-rem(18px),
    color:              $secondary,
    current-rate-color: $gray-3,
    best-rate-color:    $primary
);

$progress-chart: (
    bg:                      $gray-1,
    transition:              width 1s ease-out 1s,
    current-rate-bg:         $secondary,
    current-rate-color:      $primary,
    current-rate-less-bg:    $secondary,
    current-rate-less-color: $secondary,
    best-rate-bg:            $primary,
    best-rate-color:         $primary,
    font-size:               functions.to-rem(14px)
);

$addition: (
    bg: $gray-1
);

$circle-chart: (
    stroke-width:             1.5,
    secondary-stroke:         $secondary,
    secondary-stroke-linecap: round,
    secondary-bg-stroke:      $gray-2,
    primary-stroke:           $primary,
    primary-stroke-linecap:   round,
    primary-bg-stroke:        $gray-2,
    animation:                progress 1s ease-out forwards
);

$percentage: (
    font-size:       functions.to-rem(36px),
    text-align:      center,
    span-font-size:  functions.to-rem(20px),
    secondary-color: $gray-2,
    primary-color:   $primary
);

$accordion: (
    bg:                  functions.str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill: #{$black}' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Cpath d='M0 285l512 411.33 512-411v42l-512 411.67-512-411.66z'%3E%3C/path%3E%3C/svg%3E"), "#", "%23") no-repeat center / contain,
    transition:          transform ease .2s,
    max-height-transion: max-height ease .4s,
    trigger-font-size:   functions.to-rem(14px),
    header-font-size:    functions.to-rem(14px),
    header-color:        $gray-3
);

$layer: (
    type-icon-bg:              functions.str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Cpath d='M447.822 449.536h128v319.488h-128v-319.488zM447.822 257.706h128v128h-128v-128zM511.993 0c-282.767 0.004-511.993 229.233-511.993 512 0 282.77 229.23 512 512 512s512-229.23 512-512c0-0.96-0.003-1.92-0.008-2.879-1.549-281.445-230.182-509.121-511.992-509.121-0.003 0-0.005 0-0.008 0zM511.993 943.445c-241.297 0-436.907-195.61-436.907-436.907s195.61-436.907 436.907-436.907c241.297 0 436.907 195.61 436.907 436.907s-195.61 436.907-436.907 436.907z' fill='#{$gray-2}' %3E%3C/path%3E%3C/svg%3E"), "#", "%23") no-repeat center / contain,
    type-text-color:           $primary,
    type-text-text-decoration: underline,
    layer-bg:                  rgba($black, .4),
    content-font-size:         functions.to-rem(14px),
    close-transition-color:    $primary,
    close-transition-level:    5%,
    headline-primary-color:    $primary,
    headline-secondary-color:  $gray-3,
    list-color:                $gray-3,
);
